@{
    ViewData["Title"] = "隱私權政策";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="h2 mb-4">隱私權政策</h1>
            
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="h4">資料收集與使用</h3>
                    <p>我們收集您提供的個人資料，包括但不限於姓名、電子信箱、聯絡方式等，用於提供更好的服務體驗。</p>
                    
                    <h3 class="h4 mt-4">資料保護</h3>
                    <p>我們採用業界標準的安全措施來保護您的個人資料，包括加密傳輸和安全的資料儲存。</p>
                    
                    <h3 class="h4 mt-4">資料分享</h3>
                    <p>我們不會在未經您同意的情況下，將您的個人資料分享給第三方。</p>
                    
                    <h3 class="h4 mt-4">Cookie 使用</h3>
                    <p>本網站使用 Cookie 來改善您的瀏覽體驗，您可以透過瀏覽器設定來管理 Cookie。</p>
                    
                    <h3 class="h4 mt-4">聯絡我們</h3>
                    <p>如果您對本隱私權政策有任何疑問，請透過以下方式聯絡我們：</p>
                    <ul>
                        <li>電子信箱：privacy@friendlyseed.com</li>
                        <li>電話：02-1234-5678</li>
                    </ul>
                    
                    <p class="text-muted mt-4">
                        <small>最後更新日期：2024年1月1日</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
